@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat";
}

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #232f3e;
  display: grid;
  place-items: center;
  height: min(15vh, 20vh);
}

main {
  flex: 1;
}

#amazon-logo {
  margin-top: 1rem;
  width: min(80vw, 15rem);
}

aside {
  padding: 0 auto;
  display: grid;
  place-items: center;
  position: relative;
}

.box {
  position: absolute;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
}

.fa-solid {
  margin: 0 auto;
  font-size: 4rem;
}

.display {
  display: none;
}

#watch {
  width: min(100%, 20rem);
  height: 20rem;
}

section {
  padding: 0.5rem;
  color: #222;
}

section h1 {
  font-size: 2.25rem;
}

section p {
  margin-top: 0.25rem;
}

section p:nth-of-type(2),
section p:nth-of-type(3) {
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 1.25rem;
}

#color-wrapper {
  display: flex;
  gap: 1rem;
}

#color-wrapper div {
  width: 1.5rem;
  height: 1.5rem;
  aspect-ratio: 1;
  cursor: pointer;
  border-radius: 5px;
}

#black {
  background-color: #23211f;
}

#red {
  background-color: #ca3d22;
}

#blue {
  background-color: #565681;
}

#pink {
  background-color: #e9c7be;
}

#purple {
  background-color: #8a5362;
}

#button-wrapper button {
  background-color: #ccc;
  margin-right: 0.5rem;
}

.normal {
  font-weight: normal;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: #000;
  outline: none;
  border: transparent;
  cursor: pointer;
  background-color: #ff9900;
  border-radius: 5px;
  font-size: 0.75rem;
}

section > button {
  margin: 0.5rem 0;
  font-size: 1rem;
}

footer {
  background-color: #232f3e;
  display: grid;
  place-items: center;
  min-height: 15vh;
  color: #fff;
}

@media (min-width: 700px) {
  main {
    display: flex;
  }

  section {
    padding-top: 2rem;
    width: 60%;
  }

  aside {
    width: 29%;
  }

  #watch {
    width: 20rem;
  }
}

@media (min-width: 1000px) {
  section {
    width: 70%;
  }

  aside {
    margin-top: 2rem;
  }

  section h1 {
    font-size: 3rem;
  }

  section p {
    font-size: 1.25rem;
  }

  section p:nth-of-type(2),
  section p:nth-of-type(3) {
    font-size: 1.75rem;
  }

  button {
    font-size: 1rem;
  }

  section > button {
    font-size: 1.5rem;
  }
}
