@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@1,500;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

nav {
  max-width: 80%;
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: #222;
  letter-spacing: 0.1rem;
}

#box-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
}

.box {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 2px 4px #ccc;
}

a {
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  color: brown;
}

a:hover {
  transform: scale(1.1);
}

#box-wrapper:hover a:not(:hover) {
  opacity: 0.5;
}

.laptop {
  display: none;
}

img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 10rem;
}

/* 
Media queries
*/

@media (min-width: 1000px) {
  .laptop {
    display: block;
  }
}
