* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

.main-heading {
  position: absolute;
  top: 40%;
  text-transform: uppercase;
  font-size: 4rem;
  text-align: center;
  opacity: 0.05;
  color: #fff;
}
