* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #999;
  padding-top: 9rem;
}

#container {
  border-radius: 8px;
  background-color: #222;
  box-shadow: 4px 4px 4px #ccc;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

#input-box {
  margin-top: 1rem;
  width: 100%;
  height: min(20%, 4rem);
  outline: none;
  border: transparent;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: right;
}

.row {
  display: flex;
  justify-content: space-around;
}

button {
  font-size: 1rem;
  padding: 1rem;
  background: transparent;
  outline: none;
  color: #fff;
  border: transparent;
  cursor: pointer;
  width: 25%;
}

button:hover {
  background-color: #111;
  border-radius: 8px;
}

.row:last-of-type button:last-of-type {
  width: 50%;
}

/* 
Mediaqueries
*/

@media (min-width: 480px) {
  h1 {
    font-size: 3.25rem;
  }
  #input-box,
  button {
    font-size: 1.25rem;
  }
}
@media (min-width: 770px) {
  h1 {
    font-size: 3.5rem;
  }
  #input-box,
  button {
    font-size: 1.5rem;
  }
}
@media (min-width: 1025px) {
  body {
    padding-top: 0;
    height: 100vh;
  }
  h1 {
    font-size: 3.75rem;
  }
  #input-box,
  button {
    font-size: 1.75rem;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
  #input-box,
  button {
    font-size: 2rem;
  }
}

@media (min-height: 700px) {
  body {
    padding-top: 12rem;
  }
}
@media (min-height: 800px) {
  body {
    padding-top: 15rem;
  }
}
@media (min-height: 900px) {
  body {
    padding-top: 16rem;
  }
}
