* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #edf2cf;
  --secondary-color: #212121;
}

.dark-theme {
  --primary-color: #000106;
  --secondary-color: #fff;
}

body {
  position: relative;
  font-family: sans-serif;
  background-color: var(--primary-color);
}

a {
  color: var(--secondary-color);
}

a:hover,
i:hover {
  color: #ff4321;
}

header {
  height: 12vh;
  position: relative;
}

nav {
  position: relative;
}

nav > img {
  height: 4rem;
  margin: 0.5rem 0 0 1rem;
}

nav > i {
  font-size: 2rem;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  color: var(--secondary-color);
  cursor: pointer;
}

nav > ul {
  visibility: hidden;
  list-style-type: none;
  position: absolute;
  right: 0;
  top: 3.5rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  padding: 0.5rem;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  margin: 0.25rem 0.5rem;
  font-weight: 600;
}

#theme-icon {
  position: fixed;
  top: 1.5rem;
  right: 4.5rem;
  font-size: 2rem;
}

#theme-icon:hover {
  color: var(--secondary-color);
}

main {
  position: relative;
}

#img-wrapper {
  position: relative;
  margin: 2rem auto;
  width: min(95%, 15.5rem);
  height: 18rem;
}

#img-wrapper img {
  display: block;
  height: 100%;
  overflow: hidden;
  transition: 0.3s linear;
}

#img-wrapper:hover {
  transform: scale(1.1);
}

#img-wrapper > img:first-of-type {
  height: 120%;
  position: absolute;
  top: -5.75rem;
  margin: 2rem auto;
}

#img-wrapper > img:nth-of-type(2) {
  margin: 5rem auto 2rem auto;
}

#text-wrapper {
  width: 95%;
  margin: 0 auto;
}

#text-wrapper h1 {
  color: var(--secondary-color);
}

#text-wrapper span {
  color: #ff4321;
}

#text-wrapper p {
  color: var(--secondary-color);
}

#text-wrapper button {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  outline: none;
  border: transparent;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
}

#icon-wrapper {
  margin: 0.5rem 0;
  list-style-type: none;
  font-size: 1.5rem;
  display: flex;
}

#icon-wrapper a {
  margin: 0 0.5rem;
}

.display {
  visibility: visible;
}

@media (min-width: 480px) {
  #text-wrapper {
    font-size: 1.25rem;
  }
}

@media (min-width: 770px) {
  nav > i {
    visibility: hidden;
  }

  nav > img {
    margin: 1rem 0 0 1.5rem;
  }

  nav > ul {
    visibility: visible;
    border: transparent;
    flex-direction: row;
    top: 2rem;
    margin-right: 2rem;
  }

  #theme-icon {
    right: 0.5rem;
    top: 2rem;
  }

  #img-wrapper {
    float: right;
    margin-right: 3rem;
    height: 20rem;
  }

  #img-wrapper img:first-of-type {
    top: -0.75rem;
  }

  #text-wrapper {
    position: absolute;
    float: left;
    top: 13rem;
    padding-left: 2rem;
    font-size: 1.5rem;
  }

  #icon-wrapper {
    margin-top: 4.5rem;
  }
}

@media (min-width: 1025px) {
  body {
    width: 85%;
    margin: 0 auto;
  }

  nav a {
    margin: 1rem;
  }

  #theme-icon {
    right: 6rem;
  }
}

@media (min-width: 1200px) {
  nav > ul {
    margin-right: 1.5rem;
  }

  #img-wrapper {
    height: 27rem;
    margin-top: -1rem;
    margin-right: 10rem;
  }

  #text-wrapper {
    font-size: 1.75rem;
  }

  #icon-wrapper {
    margin-top: 8rem;
  }
}
