* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fff;
  --secondary-color: #212121;
}

.dark-theme {
  --primary-color: #000106;
  --secondary-color: #fff;
}

body {
  position: relative;
  font-family: sans-serif;
  background-color: var(--primary-color);
  min-height: 100dvh;
}

a {
  color: var(--secondary-color);
}

a:hover,
i:hover {
  color: #ff4321;
}

header {
  position: relative;
}

nav {
  position: relative;
}

nav > img {
  height: 4rem;
  margin: 0.5rem 0 0 1rem;
}

nav > i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  color: var(--secondary-color);
  cursor: pointer;
  z-index: 3;
}

nav > ul {
  background-color: var(--primary-color);
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  list-style-type: none;
  text-align: center;
  z-index: 2;
  height: 100dvh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 3rem;
}

nav a {
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
}

#theme-icon {
  position: absolute;
  top: 1.5rem;
  right: 3.75rem;
  font-size: 2rem;
  z-index: 2;
}

main {
  position: relative;
}

#img-wrapper {
  position: relative;
  width: min(95%, 15.5rem);
  height: 18rem;
  margin: 0 auto;
}

#img-wrapper img {
  display: block;
  height: 100%;
  transition: 0.3s linear;
  position: absolute;
}

#img-wrapper:hover {
  transform: scale(1.1);
}

#img-wrapper > img:first-of-type {
  height: 120%;
  position: absolute;
  z-index: 1;
}

#img-wrapper > img:nth-of-type(2) {
  top: 3.75rem;
}

#text-wrapper {
  width: 95%;
  margin: 0 auto;
  margin-top: 5rem;
}

#text-wrapper h1 {
  color: var(--secondary-color);
}

#text-wrapper span {
  color: #ff4321;
}

#text-wrapper p {
  color: var(--secondary-color);
}

#text-wrapper button {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  outline: none;
  border: transparent;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
}

#text-wrapper button:hover {
  scale: 1.05;
}

#icon-wrapper {
  margin: 0.5rem 0;
  list-style-type: none;
  font-size: 1.5rem;
  display: flex;
}

#icon-wrapper a {
  margin: 0 0.5rem;
}

.display {
  display: flex;
}

@media (min-width: 480px) {
  #text-wrapper {
    font-size: 1.25rem;
  }
}

@media (min-width: 770px) {
  nav > i {
    visibility: hidden;
  }

  nav > img {
    margin: 1rem 0 0 1.5rem;
  }

  nav > ul {
    visibility: visible;
    height: 1rem;
    flex-direction: row;
    top: 2.75rem;
    padding: 0;
    margin-right: 2.5rem;
  }

  #theme-icon {
    right: 0.5rem;
    top: 2rem;
  }

  #img-wrapper {
    float: right;
    margin-right: 3rem;
    height: 20rem;
  }

  #img-wrapper img:first-of-type {
    top: -0.75rem;
  }

  #text-wrapper {
    position: absolute;
    float: left;
    top: 13rem;
    padding-left: 2rem;
    font-size: 1.5rem;
  }

  #icon-wrapper {
    margin-top: 4.5rem;
  }
}

@media (min-width: 1025px) {
  body {
    width: 85%;
    margin: 0 auto;
  }

  nav ul {
    margin-right: 2.5rem;
  }
}

@media (min-width: 1200px) {
  nav > ul {
    margin-right: 3rem;
  }

  #img-wrapper {
    height: 27rem;
    margin-top: -1rem;
    margin-right: 10rem;
  }

  #text-wrapper {
    font-size: 1.75rem;
  }

  #icon-wrapper {
    margin-top: 8rem;
  }
}
